{{#unless restaurant}}
<h2>That Restaurant is not in Our System</h2>
{{else}}

<h2>{{restaurant.name}} Restaurant</h2>
<form method="post" action="/restaurants/{{restaurant.name}}/delete">
   <button type="submit">Delete Restaurant</button>
</form>
<div class="invisible"> . </div>
<form action="/restaurants/{{restaurant.name}}/update" method="post">
   <input type = "text" name="restaurant[name]" placeholder="Name" value="{{restaurant.name}}"/>
    <input type="text" name="restaurant[yelpUrl]" placeholder="Yelp Url" value="{{restaurant.yelpUrl}}"/>
    <button type="submit">Update Restaurant</button>
</form>

{{#each restaurant.address as |address index|}}
  <form method="post" action="/restaurants/{{@root.restaurant.name}}/{{address}}/update"/>
      <input type="text" name="address[street]" placeholder = "Street" value="{{address.street}}"/>
      <input type="text" name="address[zipcode]" placeholder = "Zipcode" value="{{address.zipcode}}"/>
      <button type="submit">Update Address</button>
  </form>
{{/each}}
<h3>Menu Items</h3>
{{#each restaurant.items as |item index|}}

  <li>{{item.title}}</li>
  <form method="post" action="/restaurants/{{@root.restaurant.name}}/{{item.title}}/delete">
     <button type="submit">Delete</button>
     <div class="invisible">.</div>
  </form>
{{/each}}
<form method="post" action="/restaurants/{{restaurant.name}}/newitem">
  <input type="text" name="restaurant[items]" placeholder = "Menu Item" />
  <button type="submit">New Menu Item</button>
</form>

{{/unless}}
