<h1>{{restaurant.name}}</h1>
<h3>Address: {{restaurant.address.street}}</h2>
<h3>Check us out on Yelp: {{restaurant.address.yelpUrl}}</h2>

<h2> Menu <h3>

  {{#each restaurant.items as |item index|}}
    <li>{{item.title}}</li>
    <form action = "/{{../restaurant.name}}/items/{{item.title}}/delete" method = "post"><button>Delete</button/></form>
  {{/each}}

<h2>Add Menu Items:</h2>
  <form action = "/{{restaurant.name}}/items" method = "post" type = "submit">
    <input type = "text" name = "item[title]" placeholder = "menu item"/>
    <button type = "submit"> Submit</button>
  </form>

<h2>Update Restaurant Information:</h2>
<form action = "/{{restaurant.name}}" method = "post" type = "submit">
  <input type = "text" name = "restaurant[name]" value = "{{restaurant.name}}" placeholder = "Name"/>
  <input type = "text" name = "restaurant[address.street]" value = "{{restaurant.address.street}}"} placeholder = "Address - Street"/>
  <input type = "text" name = "restaurant[address.state]" value = "{{restaurant.address.state}}" placeholder = "Address - State"/>
  <input type = "number" name = "restaurant[address.zipcode]" value = "{{restaurant.address.zipcode}}" placeholder = "Address - Zipcode"/>
  <input type = "text" name = "restaurant[yelpUrl]" value = "{{restaurant.yelpUrl}}" placeholder = "Yelp URL"/>
  <button type = "submit"> Submit</button>
</form>
