<h2>{{restaurants.length}} restaurant</h2>
{{#each restaurant as |restaurant index|}}
<h3>
  {{restaurant.name}}
  <!-- <a href="/candidates/{{candidate.name}}">{{candidate.name}} for President in {{candidate.year}}</a> -->
</h3>
{{/each}}
