<h2> <a href="/restaurants/">View Restaurants</a> </h2>


{{#if restaurant}}
<h2>Name: {{restaurant.name}} </h2>
<h2>Address: {{restaurant.address.street}} / {{restaurant.address.zipcode}} </h2>
<h2>Yelp: {{restaurant.yelp}}</h2>
<!-- <a href="{{restaurant.yelp}}"></a>  -->
<h2>Items: {{restaurant.items}} </h2>


{{else}}
<h2>That restaurant couldn't be found!</h2>
{{/if}}

<!-- EDIT -->
<form action="/restaurants/{{restaurant.name}}" method="post">
  <input type="text" name="restaurant[name]" value="{{restaurant.name}}">
  <input type="text" name="restaurant[address][street]" value="{{restaurant.address.street}}">
  <input type="number" name="restaurant[address][zipcode]" value="{{restaurant.address.zipcode}}">
  <input type="text" name="restaurant[yelp]" value="{{restaurant.yelp}}">
    <button type="submit">Update</button>
</form>


<!-- DELETE -->
<form action="/restaurants/{{restaurant.name}}/delete" method="post">
 <button type="submit">Delete</button>
</form>
