{{#if restaurant}}
<h1>{{restaurant.name}}</h1>

<h3> Address: {{restaurant.address.street}} {{restaurant.address.zipcode}}</h3>

<h3><a href="{{yelpUrl}}"> Yelp Page </a></h3>

<h2> Menu </h2>
<ul>
{{#each restaurant.items as | item |}}

  <li>{{item.title}}</li>

{{/each}}
</ul>

<!-- edit restaurant info -->
<div class="form">
  <form action="/restaurants/{{restaurant.name}}" method="post">
    <input  type='text' name="restaurant[name]" placeholder="Name" value="{{restaurant.name}}"/>
    <input type='text' name="restaurant[address][street]" placeholder="Street Address" value="{{restaurant.address.street}}" />
    <input type='number' name="restaurant[address][zipcode]" placeholder="Zip Code" value="{{restaurant.address.zipcode}}" />
    <input type='text' name="restaurant[yelpUrl]" placeholder="Yelp URL"  value="{{restaurant.yelpUrl}}"/>
    <button type='submit'> Submit</button>
  </form>
  <!-- Deletes restaurant -->
  <form  action="/restaurants/{{restaurant.name}}/delete" method="post">
    <button type="submit"> Delete </button>
  </form>
</div>
{{else}}

<h1> This Restaurant doesn't exist yet.</h1>

{{/if}}
