<h2>{{restaurant.name}}</h2>

<address>
  {{restaurant.address.street}}<br>
  Washington, DC {{restaurant.address.zipcode}}
</address>

<p><a href="{{restaurant.yelpUrl}}">Yelp</a></p>

<section class="menu">
  <h3>Menu</h3>
  {{#each restaurant.items as |item|}}
    <p>{{item.title}}</p>
  {{/each}}
</section>
