<h1>{{restaurant.name}}</h1>

<p>
  Menu
</p>
<ul>
  {{#each restaurant.items as |item i|}}
    <li>{{item.title}}</li>
  {{/each}}
</ul>

<p>{{restaurant.address.street}} {{restaurant.address.zipcode}}</p>
<p>yelpurl:{{restaurant.yelpurl}}</p>


<form action="/{{restaurant.name}}/delete" method="post">
  <button type="submit">Delete {{restaurant.name}}</button>
</form>


<form action="/" method="post">
  <input type="text" name="restaurant[name]" value ="{{restaurant.name}}">
  <input type="text" name="restaurant[address][street]" value ="{{restaurant.address.street}}">
  <input type="text" name="restaurant[address][zipcode]" value ="{{restaurant.address.zipcode}}">
  <input type="text" name="restaurant[yelpurl]" value ="{{restaurant.yelpurl}}">

{{#each restaurant.items as |item i|}}
  <input type="text" name="restaurant[items][title]" value="{{item.title}}">
{{/each}}
  <input type="submit">
</form>




<a href="/">Back</a>
